#!/usr/bin/env bash

TENANT=your-tenant.us.auth0.com
MGM_CLIENT_ID=your-management-api-client-id
MGM_CLIENT_SECRET=your-management-api-client-secret
USER_EMAIL=your-email@example.com
USER_PASSWORD=your-password
